@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Referee</h1>
    <p class="lead">
        Referee is a framework for doing complex, custom authentication in asp.net mvc. 
        This is a sample application built using Referee to help you get an idea of how to work with the framework.
        It's based off the popular sample application NerdDinner, a theorhetical app to help nerd schedule dinner get togethers.
    </p>
    <p><a href="https://github.com/AndrewSwerlick/Referee/tree/master" class="btn btn-primary btn-large">Referee on github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            @Html.ActionLink("Register","Register","Account") to create a user account. 
            Visit the @Html.ActionLink("Dinners","Index","Dinner") section to see the actual application.
            Go to @Html.ActionLink("Roles","Index","Roles") to edit roles assigned to users so you can experiment with different authorization scenarios
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>