@model Swerl.Referee.NerdDinnerSample.Models.ViewModels.DinnerIndexPageViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Dinners</h2>

@if (Model.CanCreateDinner)
{
    @Html.ActionLink("Create Dinner","Create","Dinner");
}

<ul>
    @foreach (var dinner in Model.Dinners)
    {
        <li>@Html.ActionLink(dinner.Name,"View",new{id = dinner.Id})</li>
    }
</ul>


