@model Swerl.Referee.NerdDinnerSample.Models.ViewModels.DinnerViewModel

@{
    ViewBag.Title = "title";
}

<h2>@Model.Data.Name</h2>

@Html.DisplayFor(m=>m.Data)

@if (Model.CanEdit)
{
    @Html.ActionLink("Edit","Edit",new {id = Model.Data.Id})
}

@if (Model.CanDelete)
{
    using (Html.BeginForm("Delete", "Dinner", FormMethod.Post))
    {
        @Html.HiddenFor(m=>m.Data.Id)
        <input type="submit" value="Delete"/>
    }
}
